</div>
    <br><br><br>
    <hr>
    <p class="text-center">Copyright COLT</p>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>